#photo-container {
    width: auto;
    height: 300;
    display: inline-block;
}

#user-photo {
    height: 200px;
    width: auto;
}

.user-details-container {
    width: auto;
    height: 300;
    display: inline-block;
}

ion-list.user-details  {
    width: 100%;
}

hr {
    border: 2px solid black;
    visibility: visible;
}